@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway:wght@200&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

html {
    overflow: hidden;
}

html,body {
    min-height: 100vh;
    margin: 0;
}

body { 
    background-color: rgb(40,40,40);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

#start-button {
    margin-top: 25%;
}

#start-button > button{
    color: white;
    background-color: red;
    border: none;
    font-family: 'Roboto', sans-serif; 
    font-size: 25px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    height: max-content;
}
#start-button > button:hover {
    cursor: pointer;
    background-color: rgb(255, 50, 50);
}



#background-img1, #background-img2, #slider-background {
    object-fit: cover;
    opacity: 0.5;
    overflow-x: hidden;
    position: absolute;
    width: calc(50vw - 4px);
    height: 100vh;
    z-index: -1;

    filter: blur(6px);
    -webkit-filter: blur(6px);

    transition: margin-left 2s;
}
#background-img2 {
    margin-left: calc(50vw + 8px);
}
#slider-background {
    margin-left: calc(100vw + 8px);
}


#container1, #container2, #slider{
    box-shadow: inset 0px 0px 100px rgb(0, 0, 0);
    position: absolute;
    width: calc(50vw - 4px);
    height: 100vh;

    transition: margin-left 2s;
}
#container1 {
    border-right: solid 4px rgb(40, 40, 40);
}
#container2 {
    border-left: solid 4px rgb(40, 40, 40);
    margin-left: 50vw;
}
#slider {
    margin-left: 100vw;
    border-left: solid 4px rgb(40, 40, 40);
}


#vid1, #vid2, #slider-vid {
    background-color: black;
    margin-left: 10%;
    margin-top: 15vh;
    width: 80%;
}
#vid1:hover, #vid2:hover {
    background-color: white;
    cursor: pointer;
}
#vid1 > img, #vid2 > img, #slider-vid > img {
    display: block;
    pointer-events: none;
    opacity: 0.90;
    width: 100%;
    height: auto;
}

#vid-title1, #vid-title2, #slider-title {
    background-color: rgb(40, 40, 40);
    color: white;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.5vw;
}



h2 {
    color: white;
    font-family: 'Roboto', sans-serif; 
    font-size: 5vw;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}


#output-circle { 
    background-color: white;
    border: 8px solid rgb(40, 40, 40);
    border-radius: 100px;
    color: rgb(40, 40, 40);
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    line-height: 7vw;
    margin-left: calc(46.5vw - 8px);
    margin-top: 23vh;
    position: absolute;
    text-align: center;
    width: 7vw;
    height: 7vw;

    transition: width 0.5s, height 0.5s, margin-left 0.5s, margin-top 0.5s, border 0.5s, font-size 0.5s, line-height 0.5s;
}
