@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway:wght@200&family=Roboto&display=swap');

html {
    overflow: hidden;
}

html,body {
    min-height: 100vh;
    margin: 0;
}

body { 
    background-color: rgb(40,40,40);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

#start-button {
    margin-top: 25%;
}

#start-button > button{
    color: white;
    background-color: red;
    font-family: 'Roboto', sans-serif; 
    font-size: 25px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border: solid 1px red;
    border-radius: 20px;
    height: max-content;
}
#start-button > button:hover {
    cursor: pointer;
    background-color: rgb(255, 50, 50);
    border: solid 1px rgb(255, 50, 50);
}


.background-img1, .background-img2 {
    display: block;
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    opacity: 0.5;
    overflow-x: hidden;
    z-index: -10;

    filter: blur(6px);
    -webkit-filter: blur(6px);
}
.background-img1 {
    left: -50vw;
}
.background-img2 {
    right: -50vw;
}


.container1, .container2{
    width: calc(50vw - 4px);
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 100px rgb(0, 0, 0);
}
.container1 {
    left: 0;
    border-right: solid 4px rgb(20, 20, 20);
}
.container2 {
    right: 0;
    border-left: solid 4px rgb(20, 20, 20);
}


.img1, .img2 {
    width: 40vw;
    background-color: black;
    border: 10px solid rgb(20, 20, 20);
    border-radius: 10px;
}

.img1:hover, .img2:hover {
    background-color: white;
    cursor: pointer;
}

.img1 > img, .img2 > img {
    display: block;
    width: 100%;
    height: auto;
    pointer-events: none;
    opacity: 0.95;
}
